@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Noto+Sans+JP:wght@300..600&display=swap');
*{
    --lily:#f9f9f9;
    --charcoal:#303030;
    --cherry:#e55274;
    --clover:#93d040;
    --river:#52b2dd;
    --indigo:#3357d1;
    --violet:#a944c7;
    --fg:48,48,48;
    --bg:249,249,249;
}
@media(prefers-color-scheme:dark){*{
    --fg:249,249,249;
    --bg:48,48,48;
}}
html{
    font-family:"Noto Sans JP",sans-serif;
    font-size:18px;
    letter-spacing:.03em;
}
body{
    color:rgb(var(--fg));
    background:rgb(var(--bg));
    margin:0 !important;
}
main{
    overflow-wrap:break-word;
    margin-inline:auto;
    width:min(800px,90vw);
}
footer{
  margin-block:5vh;
  text-align:center;
}
a{
    color:rgb(var(--fg));
    text-decoration:underline;
    text-decoration-thickness:0.05rem;
}
a:hover{
    opacity:.7;
    transition:.2s;
}
h1{
    font-size:3rem;
    font-weight:300;
    text-align:center;
}
h2{
    margin:1rem 0;
    font-size:2em;
    font-weight:600;
    padding-bottom:0.3rem;
    border-bottom:0.3rem groove rgb(var(--fg));
}
h3{
    margin:1rem 0;
    font-size:1.5em;
    font-weight:500;
    padding-left:0.3rem;
    padding-bottom:0.3rem;
    border-left:0.15rem dashed rgb(var(--fg));
}
figure{
    max-width:90%;
    margin:1rem auto;
    text-align:center;
}
img{
    border-radius:10px;
    max-width:100%;
    max-height:70vh;
    height:auto;
}
iframe{
    border-radius:10px;
}
figcaption,cite{
    font-size:0.9em;
    font-weight:300;
    padding:0.2rem 0;
}
blockquote{
    border-left:0.5rem solid rgb(var(--fg));
    margin-left:0;
    margin-right:0;
    padding-left:1rem;
}
code{
    border-radius:10px;
    color:#ffffff;
    background:#605f52;
    font-family:"M PLUS 1 Code",monospace;
}
code span{
    display:block;
    position:absolute;
    width:fit-content;
    color:#ffffff;
    background:#707070;
    margin-left:-10px;
    margin-top:-10px;
    margin-bottom:-1rem;
    border-radius:10px 0 10px 0;
    padding:0.125rem 0.3rem;
}
pre{
    padding:10px;
    border-radius:10px;
    background:#605f52;
    overflow:scroll;
}